*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/images/bg.jpg);
    background-size: cover;
}

/*// Header*/

header{
    background-color: rgba(90, 0, 0, 0.665);
    color: #ffff;
    height: 13vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
header img{
    width: 150px;
    height: 150px;
}
header nav{
    margin-left: 25%;
    display: flex;
    gap: 35px;
}
header nav a{
    text-decoration: none;
    color: #ffff;
    font-size: 1.8rem;
}


/*// Main*/
main video{
    width: 100%;
    
}
main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
