@font-face {
    font-family: 'Arista Pro';
    src: url(./assets/fonts/Arista-Pro-Regular-trial.ttf);
}
@font-face {
    font-family: 'Stefans';
    src: url(./assets/fonts/Stefans-Uhr-Square.ttf);
}
@font-face {
    font-family: 'Good Timing';
    src: url(./assets/fonts/good-timing-bd.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/images/bg.jpg);
    background-size: cover;
}

/*// Header*/

header{
    background-color: rgba(90, 0, 0, 0.665);
    color: #ffff;
    height: 13vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
header img{
    width: 150px;
    height: 150px;
}
header nav{
    margin-left: 20%;
    display: flex;
    gap: 35px;
}
header nav a{
    text-decoration: none;
    color: #ffff;
    font-size: 1.8rem;
    font-family: 'Arista Pro';
    letter-spacing: 0.3rem;
}


/*// Main*/
main video{
    width: 100%;
}
main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .TextVideo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
main h1{
    font-family: 'Good Timing';
    font-size: 8rem;
    color: #ffff;
    text-align: center;
    text-shadow:  0px 0px 5px rgb(255, 255, 255), 0 0 25px rgb(255, 0, 0), 0 0 25px rgb(255, 108, 140);
}
main h2{
    color: #ffff;
    font-size: 1.8rem;
    font-family: 'Arista Pro';
    letter-spacing: 0.3rem;
    margin-top: 3rem;
}
